.info_container {
  margin-top: 6rem;
  padding: 2.4rem;
  border: 1px solid var(--border-color);
  border-radius: 0.8rem 0.8rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info_box p:first-child {
  color: var(--info-text-color);
}

.info_box p:last-child {
  font-weight: 800;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.progress_container {
  padding: 4rem 2.4rem 2.4rem;
  border: 1px solid var(--border-color);
  border-top: none;
  border-radius: 0 0 0.8rem 0.8rem ;
}

.shipment_details h4 {
  font-weight: 600;
}

.shipment_details table {
  width: 100%;
  margin-top: 1.5rem;
  border: 2px solid var(--border-color);
  border-radius: 0.6rem;
}

.shipment_details table thead {
  background-color: var(--table-header-bg);
  color: var(--table-header-text-color);
  text-align: right;
}

.shipment_details table thead tr th {
  font-weight: 600;
}

.shipment_details table tr th,
.shipment_details table tr td {
  padding: 1.2rem 1.6rem;
}

.address,
.report_issue {
  padding: 1.6rem 2.4rem ;
  border: 2px solid var(--border-color);
  border-radius: 0.6rem;
  margin-top: 1.5rem;
}

.address {
  background-color: var(--table-header-bg);
}

.report_issue {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_box p {
  font-weight: 700;
}

.text_box button {
  background-color: var(--danger-color);
  color: #fff;
  border-radius: 1.2rem;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.bottom_div {
  display: grid;
  gap: 2rem;
  margin-top: 3rem;
  grid-template-columns: 1fr 400px;
}