.steps_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step_box {
  text-align: center;
  z-index: 2;
}

.step_box svg {
  background-color: #fff;
}

.step_box:first-child {
  text-align: right;
}

.step_box:nth-of-type(4) {
  text-align: left;
}

.step_box p {
  font-weight: 700;
  margin-top: 2rem;
}

.bottom_bar,
.top_bar {
  position: absolute;
  right: 0;
  top: 1rem;
  height: 0.5rem;
  border-radius: 999px;
}

.bottom_bar {
  background-color: var(--main-bar-color);
  width: 100%;
}