.header {
  padding-block: 2rem;
  border-bottom: 1px solid var(--border-color);
  font-weight: 800;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header nav li {
  cursor: pointer;
}

.actions button:first-child {
  padding-left: 1rem;
  border-left: 1px solid var(--border-color);
}

.lang_btn {
  color: var(--danger-color);
}