.info_container {
  margin-top: 6rem;
  padding: 2.4rem;
  border: 1px solid var(--border-color);
  border-radius: 0.8rem 0.8rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .info_container {
    flex-direction: column;
    gap: 2rem;
  }

  .info_container > article {
    text-align: center;
  }
}

.info_box p:first-child {
  color: var(--info-text-color);
}

.info_box p:last-child {
  font-weight: 800;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.progress_container {
  padding: 4rem 2.4rem 2.4rem;
  border: 1px solid var(--border-color);
  border-top: none;
  border-radius: 0 0 0.8rem 0.8rem ;
}