.shipment_details h4 {
  font-weight: 600;
}

.shipment_details table {
  width: 100%;
  margin-top: 1.5rem;
  border: 2px solid var(--border-color);
  border-radius: 0.6rem;
}

.shipment_details table thead {
  background-color: var(--table-header-bg);
  color: var(--table-header-text-color);
  text-align: right;
}

.shipment_details table thead tr th {
  font-weight: 600;
}

.shipment_details.en table thead tr th {
  text-align: left;
}

.shipment_details table tr th,
.shipment_details table tr td {
  padding: 1.2rem 1.6rem;
}

@media (max-width: 991px) {
  .shipment_details {
    overflow-x: auto;
  }
}